@import "mixin.scss";

@font-face {
  font-family: "Kobzar";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kobzar/KobzarKS_v1-020.ttf") format('truetype');
}

@font-face {
  font-family: "Naftera";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Naftera/Naftera.ttf") format('truetype');
}

@font-face {
  font-family: "Namu";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Namu/NAMU-Pro.ttf") format('truetype'), url("../fonts/Namu/NAMU-Pro.woff") format('woff'), url("../fonts/Namu/NAMU-Pro.woff2") format("woff2");
}

@include font-face("e-ukraine", "../fonts/e-ukraine/e-ukraine-regular/e-ukraine-regular_w", 500, normal, eot woff2 woff ttf);
@include font-face("e-ukraine", "../fonts/e-ukraine/e-ukraine-bold/e-ukraine-bold_w", bold, normal, eot woff2 woff ttf);

$themeColor1: #407BFF;
$gutter: 12px;
$themeColor2: fade-out($themeColor1, 0.49);
$themeColor3: #FFDE59;

img {
  max-width: 100%;
}

body {
  font-family: "Namu", sans-serif;
  color: #000;
  line-height: 1.7rem;
  font-size: 16px;

  @include _768 {
    font-size: 14px;
  }
}

h1 {
  color: $themeColor1;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: $gutter;
  font-family: "Naftera", sans-serif;

  @include _768 {
    margin-top: 0;
    font-size: 3.5rem;
    font-family: "Kobzar", sans-serif;

  }
}

h2 {
  font-size: 1.5rem;

  span {
    display: inline-block;
  }
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

h2, h3, h4, h5 {
  font-family: "Naftera", sans-serif;
}

.header_info_block_container {
  overflow: hidden;
}

.header_info_block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;


  @include _1200 {
    padding-right: 120px;
  }


  $position_h: 200px;

  .decoration_line {
    width: 200px;
    height: 10px;
    background: $themeColor1;
    position: absolute;
    top: -20px;
    transform: rotate(45deg);
    transform-origin: top left;
    left: calc(100% - 114px);
    border-bottom: 10px solid $themeColor3;
    box-sizing: content-box;
  }

}


section {
  background-color: $themeColor1;
  color: #fff;

  article {
    padding: $gutter*2 0;

    &.personal_skills div > div:not(:last-child) > ul {
      @include _768_less {
        margin-bottom: 0;
      }
    }


    h3 {
      margin-bottom: $gutter*2;
    }

    h5 {
      margin-bottom: $gutter*2;
      font-size: 1em;
    }


    .history {
      border-left: $gutter/2 solid #fff;
      padding-left: $gutter*2;
    }

    .company {
      h4 {
        color: $themeColor3;
      }
    }
  }

  .additional_skills {
    color: fade-out(#fff, 0.3);
  }

  h6 {
    margin-bottom: $gutter;
  }

  .university {
    color: $themeColor3;
  }

  p {
    margin-bottom: $gutter;
  }

}

.contactPanel {


  @include _768 {
    padding-right: 0;
    border-right: $gutter solid $themeColor1;
  }

  article {
    padding: $gutter*2 0 0;

    & > h3 {
      background-color: $themeColor2;
      padding: $gutter/2 $gutter;
    }

    & > p {
      padding: 0 $gutter;
    }

    & > ul {
      list-style: none;
      padding: 0 $gutter;
      margin-bottom: 0;
    }

    &.contact_block > ul > li {
      margin-bottom: $gutter*2;

      &:last-child {
        margin-bottom: 0;
      }
    }

    & > ul > li > h4 {
      margin-bottom: $gutter/2;
    }

  }


}

.decoration_line {
  width: calc(100% + #{$gutter});
  background-color: $themeColor1;
  height: $gutter / 2;
}