@font-face {
  font-family: "Kobzar";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kobzar/KobzarKS_v1-020.ttf") format("truetype");
}
@font-face {
  font-family: "Naftera";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Naftera/Naftera.ttf") format("truetype");
}
@font-face {
  font-family: "Namu";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Namu/NAMU-Pro.ttf") format("truetype"), url("../fonts/Namu/NAMU-Pro.woff") format("woff"), url("../fonts/Namu/NAMU-Pro.woff2") format("woff2");
}
@font-face {
  font-family: "e-ukraine";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/e-ukraine/e-ukraine-regular/e-ukraine-regular_w.eot?") format("eot"), url("../fonts/e-ukraine/e-ukraine-regular/e-ukraine-regular_w.woff2") format("woff2"), url("../fonts/e-ukraine/e-ukraine-regular/e-ukraine-regular_w.woff") format("woff"), url("../fonts/e-ukraine/e-ukraine-regular/e-ukraine-regular_w.ttf") format("truetype");
}
@font-face {
  font-family: "e-ukraine";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/e-ukraine/e-ukraine-bold/e-ukraine-bold_w.eot?") format("eot"), url("../fonts/e-ukraine/e-ukraine-bold/e-ukraine-bold_w.woff2") format("woff2"), url("../fonts/e-ukraine/e-ukraine-bold/e-ukraine-bold_w.woff") format("woff"), url("../fonts/e-ukraine/e-ukraine-bold/e-ukraine-bold_w.ttf") format("truetype");
}
img {
  max-width: 100%;
}

body {
  font-family: "Namu", sans-serif;
  color: #000;
  line-height: 1.7rem;
  font-size: 16px;
}
@media (min-width: 768px) {
  body {
    font-size: 14px;
  }
}

h1 {
  color: #407BFF;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 12px;
  font-family: "Naftera", sans-serif;
}
@media (min-width: 768px) {
  h1 {
    margin-top: 0;
    font-size: 3.5rem;
    font-family: "Kobzar", sans-serif;
  }
}

h2 {
  font-size: 1.5rem;
}
h2 span {
  display: inline-block;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

h2, h3, h4, h5 {
  font-family: "Naftera", sans-serif;
}

.header_info_block_container {
  overflow: hidden;
}

.header_info_block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}
@media (min-width: 1200px) {
  .header_info_block {
    padding-right: 120px;
  }
}
.header_info_block .decoration_line {
  width: 200px;
  height: 10px;
  background: #407BFF;
  position: absolute;
  top: -20px;
  transform: rotate(45deg);
  transform-origin: top left;
  left: calc(100% - 114px);
  border-bottom: 10px solid #FFDE59;
  box-sizing: content-box;
}

section {
  background-color: #407BFF;
  color: #fff;
}
section article {
  padding: 24px 0;
}
@media (max-width: 768px) {
  section article.personal_skills div > div:not(:last-child) > ul {
    margin-bottom: 0;
  }
}
section article h3 {
  margin-bottom: 24px;
}
section article h5 {
  margin-bottom: 24px;
  font-size: 1em;
}
section article .history {
  border-left: 6px solid #fff;
  padding-left: 24px;
}
section article .company h4 {
  color: #FFDE59;
}
section .additional_skills {
  color: rgba(255, 255, 255, 0.7);
}
section h6 {
  margin-bottom: 12px;
}
section .university {
  color: #FFDE59;
}
section p {
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .contactPanel {
    padding-right: 0;
    border-right: 12px solid #407BFF;
  }
}
.contactPanel article {
  padding: 24px 0 0;
}
.contactPanel article > h3 {
  background-color: rgba(64, 123, 255, 0.51);
  padding: 6px 12px;
}
.contactPanel article > p {
  padding: 0 12px;
}
.contactPanel article > ul {
  list-style: none;
  padding: 0 12px;
  margin-bottom: 0;
}
.contactPanel article.contact_block > ul > li {
  margin-bottom: 24px;
}
.contactPanel article.contact_block > ul > li:last-child {
  margin-bottom: 0;
}
.contactPanel article > ul > li > h4 {
  margin-bottom: 6px;
}

.decoration_line {
  width: calc(100% + 12px);
  background-color: #407BFF;
  height: 6px;
}

/*# sourceMappingURL=main.css.map */
