@import "mixin.scss";

@font-face {
  font-family: "Kobzar";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Kobzar/KobzarKS_v1-020.ttf") format('truetype');
}

@font-face {
  font-family: "Naftera";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Naftera/Naftera.ttf") format('truetype');
}

@font-face {
  font-family: "Namu";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Namu/NAMU-Pro.ttf") format('truetype'), url("../fonts/Namu/NAMU-Pro.woff") format('woff'), url("../fonts/Namu/NAMU-Pro.woff2") format("woff2");
}

@include font-face("e-ukraine", "../fonts/e-ukraine/e-ukraine-regular/e-ukraine-regular_w", 500, normal, eot woff2 woff ttf);
@include font-face("e-ukraine", "../fonts/e-ukraine/e-ukraine-bold/e-ukraine-bold_w", bold, normal, eot woff2 woff ttf);

$themeColor1: #407BFF;
$gutter: 12px;
$themeColor2: fade-out($themeColor1, 0.49);
$themeColor3: #FFC440;
$themeColor4: #6540FF;
$themeColor5: #40DBFF;
$themeColor5: #4258ff;

img {
  max-width: 100%;
}

body {
  font-family: "Namu", sans-serif;
  color: #000;
  line-height: 1.7rem;
  font-size: 16px;

  @include _768 {
    font-size: 14px;
  }
}

a {
  color: #fff;
  text-decoration: none;
  font-size: #{(100 / 14) * 16 / 100}em;
  transition: 0.7s;

  &:hover {
    color: red;

  }
}

h1 {
  color: $themeColor1;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: $gutter;
  font-family: "Naftera", sans-serif;
  color: #F2B833;

  @include _768 {
    margin-top: 0;
    font-size: 4rem;
    font-family: "Kobzar", sans-serif;
  }
}

h2 {
  font-size: 1.75rem;
  color: #F2B833;
  font-style: italic;

  span {
    display: inline-block;
  }
}

h3 {
  font-size: 1.5rem;


}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 0.75rem;
}

h2, h3, h4, h5 {
  font-family: "Naftera", sans-serif;
}

header {
  padding: 32px 0;
  /* background: #4F87FF; */
  background: #4F87FF;

  img {
    transform: rotate(2deg);
  }
}

.header_info_block_container {
  overflow: hidden;
}

.header_info_block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;


  @include _1200 {
    //padding-right: 120px;
  }


  $position_h: 200px;

  .decoration_line {
    width: 200px;
    height: 10px;
    background: $themeColor1;
    position: absolute;
    top: -20px;
    transform: rotate(45deg);
    transform-origin: top left;
    left: calc(100% - 114px);
    border-bottom: 10px solid $themeColor3;
    box-sizing: content-box;
  }

}


section {
  background-color: $themeColor1;
  color: #fff;

  article {
    padding: $gutter*2 0;

    &.personal_skills ul {
      list-style: none;
      padding-left: 0;
    }

    &.personal_skills ul li {
      padding: 0 $gutter;
      //border-bottom: 1px solid #fff;
      position: relative;
      overflow: hidden;
      background: darken($themeColor1, 3%);
      margin-bottom: $gutter;

      p {
        z-index: 2;
        position: relative;
        margin-bottom: 0;
      }

      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;

        height: 100px;
        background: $themeColor5;
        pointer-events: none;
        z-index: 1;
      }


      &.lvl-1:after {
        width: 25%
      }

      &.lvl-2:after {
        width: 50%;
      }

      &.lvl-3:after {
        width: 75%;
      }

      &.lvl-4:after {
        width: 100%;
      }


    }

    &.personal_skills div > div:not(:last-child) > ul {
      @include _768_less {
        margin-bottom: 0;
      }
    }


    h3 {
      margin-bottom: $gutter*2;
      letter-spacing: 6px;

      &:first-letter {
        color: #F2B833;
        font-size: 2em;
        /* border-top: 1px solid; */
        /* width: 50px
    px
    ; */
        /* display: inline-block; */
        /* letter-spacing: 10px; */
        border-bottom: 2px solid;
      }
    }

    h5 {
      margin-bottom: $gutter*2;
      font-size: 1em;
    }


    .history {
      //border-left: $gutter/2 solid #fff;
      //padding-left: $gutter*2;
    }

    .company {
      position: relative;
      padding: 12px;
      margin-bottom: 12px;
      //background: rgb(0 0 0 / 14%);


      .item_elem {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #376adb;
        z-index: 0;
        //transform: rotate(55deg);
        transform-origin: center;
        pointer-events: none;
        transform: skew(4deg);
      }

      //      .item_elem2{
      //        position: absolute;
      //    width: 100%;
      //    height: 100%;
      //    left: 0;
      //    top: 0;
      //    background: #376adb;
      //    z-index: 0;
      //    transform: rotate(-55deg);
      //    transform-origin: center;
      //}

      .content {
        position: relative;
        z-index: 2;
      }


      //.item_elem {
      //  position: absolute;
      //  width: 20px;
      //  height: 20px;
      //  background-color: #fff;
      //  left: -37px;
      //  transform: rotate(45deg);
      //  top: 11px;
      //}

      h4 {
        color: $themeColor3;
      }
    }
  }

  .additional_skills {
    color: fade-out(#fff, 0.3);
  }

  h6 {
    margin-bottom: $gutter;
  }

  .university {
    color: $themeColor3;
  }

  p {
    margin-bottom: $gutter;
  }

}

.contactPanel {
  color: #fff;

  @include _768 {
    //padding-right: 0;
    //border-right: $gutter solid $themeColor1;
  }

  article {
    //padding: $gutter*2 0 0;
    padding-top: $gutter*2;

    & > h3 {
      //background-color: $themeColor2;
      //padding: $gutter/2 $gutter;
    }

    & > p {
      //padding: 0 $gutter;
    }

    & > ul {
      list-style: none;
      //padding: 0 $gutter;
      padding-left: 0;
      margin-bottom: 0;
    }

    &.contact_block > ul > li {
      margin-bottom: $gutter*2;

      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      color: #F2B833;
    }

    & > ul > li > h4 {
      margin-bottom: $gutter/2;
      color: #F2B833;
    }

  }

}

.decoration_line {
  width: calc(100% + #{$gutter});
  background-color: $themeColor1;
  height: $gutter / 2;
}


footer {
  background: #336FF2;


  h3 {
    color: #F2B833;
  }

  .contact_block {
    ul {
      display: flex;
    }

    li {
      margin-right: 12px;
    }

    a {
      display: block;
      /* width: 20px; */
      /* height: 20px; */
      background: #d73fac;
      /* margin-right: 12px; */
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: skew(-11deg);
      transition: 0.7s;

      &:hover{
        color: #d73fac;
        background: #fff;
        transform: skew(-11deg) scale(1.1);
      }
    }

    i {
      font-size: 27px;
      display: block;
    }
  }


}